---
layout: default
---
 
<!--<h3>Latest Post</h3>-->
{% for post in site.posts limit:1 %}
  <a href="{{ post.url }}">
  <h1>{{ post.title }}</h1></a>
  <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
  <div>{{ post.excerpt }}</div>
  <a href="{{ post.url }}">continue reading...</a>
{% endfor %}
<!--<h1>Recent Posts</h1>-->
{% for post in site.posts offset:1 limit:3 %}
  <hr>
  <a href="{{ post.url }}">
  <h2>{{ post.title }}</h2></a>
  <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
  <div>{{ post.excerpt }}</div>
  <a href="{{ post.url }}">continue reading...</a>
{% endfor %}